.tiles {
  display: flex;
  flex-wrap: wrap;
}
.block {
  width: 33%;
  min-width: 33%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  img {
    max-width: 260px;
    min-width: 260px;
  }
}
.about {
  text-align: center;
  max-width: 80%;
}

@media (max-width: 1060px) {
  .block {
    width: 50%;
    min-width: 50%;
  }
}
@media (max-width: 768px) {
  .block {
    width: 100%;
    min-width: 100%;
  }
}
