$fontSize: 16px;
.signUp {  }
.inner {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: $yellow;
  font-size: $fontSize;
}
.inner .text {
  letter-spacing: 1.5px;
}
.button {
  margin-left: 20px;
  border: 2px solid white;
  padding: 10px 30px;
  border-radius: 3px;
  text-transform: uppercase;
  background: none;
  letter-spacing: 1.2px;
  color: #fff;
  font-size: $fontSize;
  &:hover, &:focus {
    border: 2px solid $yellow;
    color: $yellow;
    outline:none;
  }
}
@media (max-width: 700px) {
  .inner {
    height: 70px;
  }
  .text {
    display: none;
  }
}
