.wrapper {
  font-family: "Monaco", Inconsolata, monospace;
  font-size: 15px;
  color: #f8f8f8;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.terminal {
  width: 100%;
  max-width: 500px;
  height: 40%;
  min-height: 330px;
  background: #191919;/*$black1;*/
  transition: box-shadow .3s linear;
  border-radius: 3px;
  background: #191919 url(../../assets/images/terminal_glare.png) no-repeat center;
  background-size: contain;
}
.terminalHead {
  width: 100%;
  height: 25px;
  background: $black2;
  border-radius: 3px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.terminalText {
  padding: 20px 5%;
  line-height: 1.5;
  :global(.command) {
    display: block;
    color: $yellow;
    margin-bottom: 10px;
    &:before {
      content: '$ ';
      color: $yellow;
    }
  }
  :global {
    .empty {
      min-height: 20px;
    }
    .comment {
      color: #b1afaf !important;
      &:before {
        content: '# ';
        color: #b1afaf !important;
      }
    }
    .cta {
      color: #fff !important;
      &:before {
        content: '-> ';
        color: #b1afaf !important;
      }
    }
  }
}
.terminalText a {
  color: #fff;
  text-decoration: underline;
}

.circle {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 4px;
  font-size: 0;
  font-weight: 700;
  border-radius: 10px;
}
$buttonColor: #3b3b3b;
.close {
  border: 1px solid $buttonColor;
  margin-left: 7px;
  background: $buttonColor;
}
.turn {
  border: 1px solid $buttonColor;
  background: $buttonColor;
}
.expand {
  background: $buttonColor;
  border: 1px solid $buttonColor;
}

@media (max-width: 768px) {
   .wrapper {
     font-size: 15px;
   }
   .terminal {
     min-height: 260px;
   }
}
@media (max-width: 440px) {
   .wrapper {
     font-size: 11px;
   }
}
