.contentBlocks {
  max-width: 960px;
  margin: 0 auto;
}
.wrapper {
  position: relative;
}
.yellow {
  background-color: $yellow;
}
.white {
  background-color: #fff;
}
.black {
  background-color: $black2;
  color: #fff;
}
.inner {
  display: flex;
  align-items: center;
  padding: 2em 0 2em 0;
  margin: 0 auto;
  width: 60em;
}
.content {
  width: 60%;
  -ms-flex: 2;
  padding-right: 10%;
  p {
    font-size: 19px;
    line-height: 30px;
  }
}
.title {
  font-weight: 500;
  font-size: 28px;
}
.image {
  margin: 0 3em 2em 0;
  width: 40%;
  overflow: hidden;
  img {
    width: auto;
    max-width: 90%;
    max-height: 225px;
  }
}
.wrapper:nth-child(2n - 1) .inner {
  flex-direction: row-reverse;
  text-align: left;
}
.wrapper:nth-child(2n - 1) .image {
  margin: 0 0 2em 3em;
}
@media (max-width: 1060px) {
  .wrapper .inner {
    width: 100%;
    flex-direction: column !important;
  }
  .image {
    width: 50%;
    margin: 0 !important;
  }
  .content {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .image {
    width: 70%;
    margin: 0 !important;
  }
  .inner {
     padding: 3em 0 0em 0;
  }
  .wrapper:last-of-type  {
     padding: 3em 0 3em 0;
  }
  .title {
    font-size: 22px;
  }
  .content {
    width: 100%;
    padding:5%;
  p {
    font-size: 16px;
  }
}
}
